.content {
	// border: 2px solid red;
	width: 380px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// border: 2px solid black;
	border-radius: 20px;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
	&_wrapper {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
