.form {
	display: flex;
	gap: 10px;
	margin-top: 40px;
}

.input {
	width: 500px;
	height: 25px;
	border-radius: 10px;
	border-color: rgb(0, 0, 0, 0.2);
	padding-left: 10px;
	@media screen and (max-width: 880px) {
		width: 200px;
	}
}

.btn {
	height: 30px;
	width: 80px;
	// background-color: #006dae;
	// color: white;
	border: none;
	color: white;
	background-color: rgb(30, 129, 176);
	border-radius: 10px;
	font-weight: 600;
}
